<h1>Device Activities</h1>

<!-- Кнопка для загрузки резервной копии -->
<button (click)="downloadBackup()">Download Backup</button>

<!-- Список всех устройств -->
<ul>
  <li *ngFor="let device of devices">
    {{ device.name }} - Start: {{ device.startTime | date }} | End: {{ device.endTime | date }}
    <button (click)="selectDevice(device.id)">Get Details</button>
  </li>
</ul>

<!-- Детальная информация о выбранном устройстве -->
<div *ngIf="selectedDeviceId && selectedDeviceData.length > 0; else noSelectedDevice" style="margin-top: 20px;">
  <h3>Selected Device: {{ selectedDeviceId }}</h3>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Version</th>
    </tr>
    <tr *ngFor="let activity of selectedDeviceData">
      <td>{{ activity.name }}</td>
      <td>{{ activity.startTime | date }}</td>
      <td>{{ activity.endTime | date }}</td>
      <td>{{ activity.version }}</td>
    </tr>
  </table>
</div>

<ng-template #noSelectedDevice>
  <p>No device selected.</p>
</ng-template>
